.page-title{
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
}

.player-data-container{
    margin: auto;
    display: flex;
    justify-content: center;
}

.player-details{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 4em;
}